<agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
    <agm-marker *ngIf="userLocation" [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <p>This is your position</p>
        </agm-info-window>
    </agm-marker>
  <agm-marker *ngFor="let x of servicioLugares.lugares" [latitude]="x.lat" [longitude]="x.lng"></agm-marker>
</agm-map>

<section>
  <div class="my-5">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"><strong>#</strong></th>
              <th scope="col"><strong>Lugares cercanos a tu posición</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of servicioLugares.lugares; let i = index">
              <th scope="row"><strong>{{i+1}}</strong></th>
              <td><a routerLink="/detalles/{{x.id}}" >{{x.nombre}}</a></td>
            </tr>
          </tbody>
        </table>
  </div>
</section>

<div class="row mb-4">
  <!-- TOP 10 LUGARES -->
  <div class="col-lg-4 mb-4">
    <a routerLink="/Top10/lugares">
      <table class="table">
        <thead class="indigo">
          <tr class="text-white">
            <th class="text-center" scope="col">#</th>
            <th scope="col">Top 10 Lugares</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr>
            <th class="text-center" scope="row">1</th>
            <td>Mark</td>
          </tr>            
        </tbody> -->
      </table>
    </a>
  </div><!-- col -->

  <!-- TOP 10 MUSEOS -->
  <div class="col-lg-4 mb-4">
      <table class="table">
        <thead class="red-wine">
          <tr class="text-white">
            <th scope="col">#</th>
            <th scope="col">Top 10 Museos</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          </tr>            
        </tbody> -->
      </table>
  </div><!-- col -->

  <!-- TOP 10 RESTAURANTES -->
  <div class="col-lg-4">
      <table class="table">
        <thead class="amber">
          <tr class="text-white">
            <th scope="col">#</th>
            <th scope="col">Top 10 Restaurantes</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          </tr>            
        </tbody> -->
      </table>
  </div><!-- col -->
</div>



