/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 300px;
}
/* PARA MANTENER FOOTER EN EL BOTTOM */
html {
    height: 100%;
}
body {
    position: relative;
    padding-bottom: 8rem;
    min-height: 100%;
}
footer {
    position: absolute;
    height: 8rem;
    right: 0;
    bottom: 0;
    left: 0;
}
/* ************************************ */