<main role="main">

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Barcelona Capital</h1>
    <p class="lead">Si estas de paseo por la ciudad o vives cerca y quieres conocer un poco mas no te pierdas nuestros "Top 10" para visitar en Barcelona!</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">VER LUGARES >></a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row mb-4">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="../../assets/lugares.jpg" class="img-fluid" alt="">
          <a href="#">
              <div class="mask"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Top 10 Lugares</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div><!-- col -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="../../assets/museos.jpg" class="img-fluid" alt="">
          <a href="#">
              <div class="mask"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Top 10 Museos</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div><!-- col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="../../assets/restaurantes.jpg" class="img-fluid" alt="">
          <a href="#">
              <div class="mask"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Top 10 Restaurantes</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div><!-- col -->
  </div>


  

</main>