<main role="main">

  <div class="jumbotron">
    <h1>Barcelona Capital</h1>
    <p class="lead">Si estas de paseo por la ciudad o vives cerca y quieres conocer un poco mas no te pierdas nuestros "Top 10" para visitar en Barcelona!</p>
    <p><a class="btn btn-lg btn-success" routerLink="/lugares" role="button">VER LUGARES >></a></p>
  </div>

  <div class="row mb-4">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="../../assets/lugares.jpg" class="img-fluid" alt="">
          <a href="#">
              <div class="mask"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Top 10 Lugares</h4>
          <p class="card-text">Monumentos, plazas, esculturas, paisajes naturales y muchos otros lugares que no puedes dejar de visitar en Barcelona.</p>
          <a href="#" class="btn btn-indigo">Ver Top</a>
        </div>
      </div>
    </div><!-- col -->
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="../../assets/museos.jpg" class="img-fluid" alt="">
          <a href="#">
              <div class="mask"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Top 10 Museos</h4>
          <p class="card-text">Desde el Picasso hasta el museo del Futbol Club Barcelona, los museos mas populares y visitados de toda Barcelona.</p>
          <a href="#" class="btn btn-red-wine">Ver Top</a>
        </div>
      </div>
    </div><!-- col -->
    <div class="col-lg-4">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <img src="../../assets/restaurantes.jpg" class="img-fluid" alt="">
          <a href="#">
              <div class="mask"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Top 10 Restaurantes</h4>
          <p class="card-text">La gastronomia mas tradicional de Barcelona y Cataluña. Conoce los restaurantes mas recomendados por los lugareños. </p>
          <a href="#" class="btn btn-amber">Ver Top</a>
        </div>
      </div>
    </div><!-- col -->
  </div>


  

</main>